<!DOCTYPE html>
<html>
  <body>
  <p id="autor">Quiz2015: <strong>Mª José </strong></p>
  <table width="100%" align="center">
  	<tr>
  		<td style="vertical-align:top" width="50%" align="left">
  			<img  src="/images/up.png" width="90" height="100" alt="myphoto">
  		</td>
  		<td style="vertical-align:top" width="50%" align="right">
  			<video width="200" height="150" controls>
  			  	<source src="/videos/act5.mp4" type="video/mp4">
  				<source src="/videos/act5.webm" type="video/webm">
  			</video>
  		</td>
  	</tr>
  </table>						
  </body>
</html>