<!DOCTYPE html>
<html>
  <body>
	<br>

    <form method="get" action="/quizes/answer">
    	<p>Pregunta: <%= pregunta %></p>
    	<input type="text" name="respuesta" value="Responda aquí" style="text-transform: capitalize" onfocus="this.value=''" />
    	<input type="submit" value="Enviar">
    </form>
    <p></p>
  </body>
</html>