<!DOCTYPE html>
<html>
  <body>
    <form method="get" action="/quizes">
    	<input type="hidden" name="orige" value="1">
    	<p style="text-align:center"><strong>:..Búsqueda de preguntas..:</strong></p>
    	<p><input type="text" name="search" value="Cadena a buscar" onfocus="this.value=''" />
    	<input type="submit" value="Enviar"></p>
    </form>
    <p></p>
  </body>
</html>