<!DOCTYPE html>
<html>
  <body>
	<br>
    <form method="get" action="/quizes">
    	<input type="hidden" name="orige" value="1">
    	<p style="text-align:center">Búsqueda:</p><br>
    	<p><input type="text" name="search" value="Cadena a buscar" onfocus="this.value=''" /></p><br>
    	<input type="submit" value="Enviar">
    </form>
    <p></p>
  </body>
</html>