<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %> <p><br>
	<input type="text" name="respuesta" value="Responda aquí" style="text-transform: capitalize" onfocus="this.value=''"/>
	<input type="submit" value="Enviar" />
</form>