<h2>Login</h2>
<br/>
<form method="POST" action="/login">
<table>
		<tr><div class="field">
			<label for="login"><strong> Login: </strong></label><p/>
			<input type="text" id="login" name="login" size="30" />
		</div></tr>
		<tr><div class="field">
			<label for="password"><strong> Password: </strong></label><p/>
			<input type="password" id="password" name="password" size="30" />
		</div></tr>
		<tr><div class="actions">
			<input name="commit" type="submit" value="Login" />
		</div></tr>	
	</tr>		
</table>
</form>